/*      -----Colors-----
    --clr-primary: #562EFF;
    --clr-secondary: #ffffff; 
*/

header {
    background-color: var(--clr-primary);
    width: 100%;
    box-shadow: 0 0 10px var(--clr-primary);
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 3px 0;
}

nav .site-logo {
    width: 20%;
}

nav img {
    width: 100%;
    max-width: 240px;
    min-width: 200px;
    vertical-align: middle;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: var(--clr-secondary);
    transition: .3s ease;
    padding: 10px;
}

nav>ul>li>a:hover {
    border-bottom: 10px solid var(--clr-secondary);
    padding-bottom: 20px;
}

.fa-user {
    color: var(--clr-secondary);
    vertical-align: middle;
    font-size: 20px;
    border: 2px solid var(--clr-secondary);
    border-radius: 50%;
    padding: 7px;
    transition: .3s ease;
}

.fa-user:hover {
    transform: scale(1.1);
}

/* Responsive for laptop */
@media screen and (max-width: 1200px) {
    nav {
        width: 80%;
    }
}

/* Responsive for tablet */
@media screen and (max-width: 992px) {
    nav {
        width: 80%;
    }

    nav .site-logo {
        width: 30%;
    }

    nav ul {
        width: 50%;
    }
}

/* Responsive for landscape phones */
@media screen and (max-width: 768px) {
    nav {
        width: 90%;
    }

    nav .site-logo {
        width: 40%;
    }

    nav ul {
        width: 50%;
    }
}

/* Responsive for portrait phones */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        gap: 15px;
        padding-bottom: 15px;
    }

    nav .site-logo,
    nav ul {
        width: 90%;
    }

    nav .site-logo {
        text-align: center;
    }
}