@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('header.css');
@import url('footer.css');

:root {
    --clr-primary: #562EFF;
    --clr-secondary: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

main {
    max-width: 1000px;
    width: 80%;
    margin: 40px auto;
}

section {
    padding: 30px;
    background-color: #e3e1ff;
    border-radius: 10px;
    margin-bottom: 30px;
}

h1 {
    font-size: 24px;
    color: var(--clr-primary);
    margin-bottom: 30px;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 40px 0 30px;
}

span.gray {
    color: #6e6e6e;
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
        -5px -5px 10px rgba(255, 255, 255);
    transition: .3s;
}

.card:hover {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5),
        -7px -7px 10px rgba(255, 255, 255);
}

/* Top section - Top instructors */
.instructors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.instructor {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.instructor img {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

/* Top section - Top blogs */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

article {
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

article img {
    width: 180px;
    height: 120px;
    margin-right: 20px;
}

.blog-info p {
    color: var(--clr-primary);
}

/* Latest courses */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.course {
    padding: 10px;
    border-radius: 10px;
}

.course img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.course .instructor {
    color: #fc203a;
    font-size: 15px;
    margin: 5px 0;
}

.course .course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course .duration {
    color: #fc203a;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffcdd5;
    padding: 5px 10px;
    border-radius: 15px;
}

.course .fa-star,
.course .fa-star-half-stroke {
    color: #fdbd0d;
}


/* Responsive for laptop */
@media screen and (max-width: 1200px) {
    main {
        width: 90%;
    }
}


/* Responsive for tablet */
@media screen and (max-width: 992px) {

    h1 {
        text-align: center;
    }

    /* Top section - Top instructors */
    .instructors {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Top section - Top blogs */
    article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;
        padding-bottom: 30px;
    }

    article img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: 0;
        border-radius: 10px;
    }

    /* Latest courses */
    .courses {
        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: center;
    }

    .course {
        width: 70%;
    }
}

/* Responsive for landscape phones */
@media screen and (max-width: 768px) {

    /* Top section - Top instructors */
    .instructors {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* All items */
    .instructor,
    article,
    .course {
        width: 80%;
    }

    /* Top section - Top blogs */
    .blogs {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/* Responsive for portrait phones */
@media screen and (max-width: 576px) {
    main {
        width: 95%;
    }

    section {
        padding: 40px 15px;
    }

    /* All items */
    .instructor,
    article,
    .course {
        width: 95%;
    }

}